h1[target]{
  color:green;
  background-color: hsl(120, 60%, 70%);
}

#para1 {
  text-align: center;
  color: red;
  background-color: rgba(0, 255, 0, 0.3);
  text-decoration: line-through;
}

.center {
  text-align: center;
  color: #013256;
  border-width: thick;
  border-color: yellow;
  border-style: dotted;
}

* {
  /* Do not want to add any universal style to my page */
}

p {
  display: none;
  background-color: yellow;
  padding: 20px;
}

div:hover p {
  display: block;
  color: #ff0000;
}

section h2 {
  background-color: yellow;
}

h3, h1 {
  background-color: navy;
}

section > p {
  background-color: orange;
}

a {
  display: block;
}

a.highlight:hover {
  color: #ff0000;
} 

a:active {
  background-color: yellow;
}

ol ~ li {
  background-color: green;
}

section + h3 {
  background-color: black;
}

hr ~ h3 {
  color: blue;
}
