h1[target]{
  color:green;
  background-color: hsl(120, 60%, 70%);
}

body {
  background-color: pink;
}

@media screen and (min-width: 500px) {
  body {
    background-color: lightgreen;
  }
}

#para1 {
  text-align: center;
  color: red;
  background-color: rgba(0, 255, 0, 0.3);
  text-decoration: line-through;
}

.center {
  text-align: center;
  color: #013256;
  border-width: thick;
  border-color: yellow;
  border-style: dotted;
}

* {
  /* Do not want to add any universal style to my page */
}

p {
  display: none;
  background-color: yellow;
  padding: 20px;
}

div:hover p {
  display: block;
  color: #ff0000;
}

section h2 {
  background-color: yellow;
}

h3, h1 {
  background-color: navy;
}

section > p {
  background-color: orange;
}

a {
  display: block;
}

a.highlight:hover {
  color: #ff0000;
} 

a:active {
  background-color: yellow;
}

ol ~ li {
  background-color: green;
}

section + h3 {
  background-color: black;
}

hr ~ h3 {
  color: blue;
}

.flex-container {
  /* We first create a flex layout context */
  display: flex;
  
  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;
  
  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
  
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-item {
  background: tomato;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

